@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
   background-color: #292541;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
background-color: #000;
opacity: 0.7;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a:hover{
  color: #111;
  background: #00ffff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 1000px){
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
nav{
opacity: 1;
}
  nav ul{
    position: absolute;
    top: 80px;
    left: -100%;
    background: #111;
    height: 80vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
  nav .logo{
 margin-left: -50px;
}
}

.fade
{
  animation: fadeIn 10s;

}bus

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }

}

.buscar-caja {
 position: absolute;
 top: 38%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #000;
 height: 60px;
 border-radius: 40px;
 padding: 10px;
}

.buscar-caja:hover > .buscar-txt {
 width: 240px;
 padding: 0 6px;
}

.buscar-caja:hover > .buscar-btn {
 background: white;
 color: black;
}

.buscar-btn {
 color: #000;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: black;
 cursor: pointer;
}

.buscar-btn > i {
 font-size: 20px;
}

.buscar-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}